.box {
	text-align: center;
}

.box-three {
	padding: 0 20px;
}

/*================================
section 2
================================*/

.container {
	text-align: center;
}

.items {
	display: inline-block;
	vertical-align: top;
	padding: 0 25px;
}

/*================================
section 3
================================*/

.white-box {
	/*border: 1px solid black;*/
	height: 300px;
}

.img-holder{
	line-height: 300px;
	padding-top: 20px;
}

/*================================
section 4
================================*/

.black-box {
	/*border: 1px solid pink;*/
	padding: 60px 0;
}

/*================================
section 5
================================*/

.shoot {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.shoot li {
	display: inline;
}

/*================================
section 6
================================*/

.one {
	display: inline-block;
	background-color: #ED828A;
	color: #fff;
	text-decoration: none;
	padding: 20px 40px;
	border-radius: 5px;
	font-size: 24px;
	/*margin: 20px 0;*/
}

.two {
	display: inline-block;
	background-color: #ED828A;
	color: #fff;
	text-decoration: none;
	padding: 10px 35px;
	border-radius: 5px;
	font-size: 18px;
	/*margin: 20px 0;*/
}

.three {
	display: inline-block;
	background-color: #ED828A;
	color: #fff;
	text-decoration: none;
	padding: 3px 5px;
	border-radius: 5px;
	font-size: 12px;
	/*margin: 20px 0;*/
}

/*================================
section 7
================================*/

.four {
	display: inline-block;
	background-color: #ED828A;
	color: #fff;
	text-decoration: none;
	padding: 7px 25px;
	border-radius: 5px;
	font-size: 14px;
	/*margin: 20px 0;*/
	border: none;
}

/*================================
section 8
================================*/

.nav {
	width: 90%;
	list-style-type: none;
	background-color: #ED828A;
	border-radius: 5px;
}

.nav ul {
	padding: 10px 10px;
	text-align: center;
}

.nav ul li {
	display: inline;
	font-size: 14px;
	padding: 0 35px;

}

.nav ul li a {
	text-decoration: none;
	color: #fff;
}

.nav ul li a:hover {
	color: #B800B8;
}

/*================================
section 9
================================*/

.page-nav {
	list-style-type: none;
}

.list-item {
	display: inline-block;
	padding: 0 5px;
	margin: 0 7px;
	border-bottom: 2px solid #ED828A;
}

.list-item:first-child {
	border-bottom: none;
}

.list-item:last-child {
	border-bottom: none;
}

.list-item:nth-child(5) {
	border-bottom: 2px solid lightgrey;
}

.page-nav li a {
	color:#ED828A;
	padding-bottom: 10px;
	text-decoration: none;
}

.page-nav li span {
	color: lightgrey;
	padding-bottom: 10px;
	text-decoration: none;
}

/*================================
section 10
================================*/
.comment {
	padding-bottom: 10px;
}

.avatar {
	display: inline-block;
}

.first-comment {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}

.more-comments {
	display: block;
	padding-bottom: 10px;
}

.small-avatar {
	display: inline-block;
}

.second-comment {
	display: inline-block;
	vertical-align: top;
}

/*================================
section 11
================================*/

.tabs {
	list-style-type: none;
	/*border: 1px solid green;*/
	padding: 0 0 0 10px;
}

.tabs li {
	display: inline-block;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-left: 1px solid blue;
	/*border-bottom: 1px solid blue;*/
	border-radius: 5px 5px 0 0;
	padding: 5px 12px;
}

.tabs li:nth-child(2) {
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

.tabs li a {
	text-decoration: none;
	color: blue;
	font-size: 14px;
	font-weight: bold;
}

.tab-text {
	border: 1px solid blue;
	border-radius: 5px;
	padding: 15px 5px 5px 5px;
	z-index: 0	
}




